@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: "Open Sans";
    margin: 0;
}
.stripe {
    width: 80%;
    display: block;
    margin: 20px 10% 20px 10%;
}

.header {
    height: 50px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-end;
}

.banner {
    height: 400px;
    background-color: #fff4cb;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.yellow {

    background-color: #fff4cb;
}

.content {
    padding: 0px 20px 0px 20px;
}

.logo {
    padding: 10px;
    width: 300px;
}

.synopsis {
    width: 350px;
    text-align: center;
    font-size: 16px;
}

.crest {
    height: 50px;
    margin-right: 50px;
}

nav a {
    margin: 20px;
    text-decoration: none;
    color: black;
}

code {
    display: block;
    margin: 20px;
    background-color: #fff4cb;
    padding: 10px;
    font-weight: bold;
}


.code-panel {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
    min-height: 200px;
}

#examples-react {
    margin-top: 20px;
    margin-right: 10%;
    margin-bottom: 20px;
    margin-left: 10%;
    background-color: #fff4cb;
    padding: 30px;
}

.code-panel>div {
    flex-grow: 1;
    flex-shrink: 0;
    width: 45%;
    height: auto;
}

.console {
    background-color: #202020;
    padding: 20px;
    color: white;
    overflow: auto;
}

.stderr {
    color: #FF6B68;
}

.ideButton {
    background-color: #202020;
    border: none;
    padding: 10px;
    margin: 0px 20px 20px 0px;
    color: white;
    cursor: pointer;
    font-size: 12px;
}

.exampleDropdown {
    margin-left: 10px;
}

.code-input {
    font-family: monospace !important;
    font-size: 15px !important;
}